.workout-selector {
  margin-top: 16px;
  flex: 0 0 10%;
  padding-left: 20px;
}

.workout-selector .datelist {
  position: fixed;
}

.workout-selector ul {
  padding: 5px 0 5px 0;
}

.workout-selector li {
  padding-left: 15px;
  color: #8F9A9E;
}

.workout-selector li, .workout-selector ul {
  cursor: pointer;
}